@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px gray;
    padding: 10px;
}

main{
    height: 77%;
    background: linear-gradient(45deg, rgb(255, 170, 0), red, purple);
    padding: 20px;
    overflow: auto;
}

.vagas{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 5px;
}

button{
    background-color:  greenyellow;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px black;
}
#add{
    padding: 5px 10px;
    font-size: 1.3em;
    border: solid 1px black;
}